@using Minesweeper.Models
@Model string
@{
    var Game = GameModel.GetGameModelInstance();   
}
<div class="container" style="margin-top: 2%; ">

    <div class="form-horizontal">
        @for (var Row = 0; Row < Game.Rows; Row++)
        {
            <div class="hidden-xs col-lg-3"></div>
            <div class="col-lg-7">
                @for (var Col = 0; Col < Game.Cols; Col++)
                {
                    var Cell = Game.Board[Row, Col];
                    var Value = " ";

                    if (Cell.flagged && !Cell.BeenVisited)
                    {
                        Value = "F";
                    }
                    else if (Cell.isLive && Cell.BeenVisited)
                    {
                        Value = "*";
                    }
                    else if (Cell.BeenVisited)
                    {
                        Value = Cell.liveNeighbors.ToString();
                    }

                    @Ajax.ActionLink(@Value,
                        "Index",
                        "Game",
                        new { Row = Cell.row, Col = Cell.col, Secs = 0 },
                        new AjaxOptions
                        {
                            UpdateTargetId="GameBoard",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "GET",
                            OnComplete = "resetFlagAction()",
                            OnBegin = ""

                        },
                        new {
                            id = $"{Cell.row},{Cell.col}",
                            oncontextmenu = $"flag({Cell.row},{Cell.col},'{Cell.BeenVisited}');",
                            style = "width: 75px; height: 75px; float: left;",
                            @class="btn btn-default"
                        })
                }

            </div>
        }

    </div>
    
    <script>
    </script>

</div>