
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterFailed</title>
</head>
<body>
<div>
    Registration Failed: Username Taken. <br/>
    @Html.ActionLink("Try Again","Register","Register")
</div>
</body>
</html>
