@model List<ICA4.Models.UserModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
<div>
        @Html.Label("Welcome to Razor", new {style = "font-size: 24px; " +
                                                     "font-family: Arial;" +
                                                     "font-weight: bold;" +
                                                     "display: block"})
       <br>
</div>
</body>
</html>
