@model Minesweeper.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login Success</title>
</head> 
<body>
    <div>
        <h4>UserModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                
               Welcome @Html.DisplayFor(model => model.Username)
               
            </dt>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Sign Out", "Index", "Login")
    </p>
</body>
</html>
